In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('../data/us_stock_prices.csv')

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15389314 entries, 0 to 15389313
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   ticker       object
 1   date         object
 2   open         float64
 3   high         float64
 4   low          float64
 5   close        float64
 6   volume       float64
 7   ex-dividend  float64
 8   split_ratio  float64
 9   adj_open     float64
 10  adj_high     float64
 11  adj_low      float64
 12  adj_close    float64
 13  adj_volume   float64
dtypes: float64(12), object(2)
memory usage: 1.6+ GB

In [7]:
df['date']= pd.to_datetime(df['date'])

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15389314 entries, 0 to 15389313
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   ticker       object
 1   date         datetime64[ns]
 2   open         float64
 3   high         float64
 4   low          float64
 5   close        float64
 6   volume       float64
 7   ex-dividend  float64
 8   split_ratio  float64
 9   adj_open     float64
 10  adj_high     float64
 11  adj_low      float64
 12  adj_close    float64
 13  adj_volume   float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 1.6+ GB

In [9]:
import datetime
df_gt_date = df[df["date"] > datetime.datetime(1999, 12, 31)]

In [10]:
df_gt_date.head()

,ticker,date,open,high,low,close,volume,ex-dividend,split_ratio,adj_open,adj_high,adj_low,adj_close,adj_volume
30,A,2000-01-03,78.75,78.94,67.38,72.00,3343600.0,0.0,1.0,53.726454,53.856080,45.969377,49.121329,3343600.0
31,A,2000-01-04,68.13,68.88,64.75,66.50,3408500.0,0.0,1.0,46.481058,46.992738,44.175084,45.369006,3408500.0
32,A,2000-01-05,66.25,66.31,61.31,61.56,4119200.0,0.0,1.0,45.198445,45.239380,41.828176,41.998737,4119200.0
33,A,2000-01-06,61.63,62.00,58.13,60.00,1812900.0,0.0,1.0,42.046493,42.298923,39.658651,40.934441,1812900.0
34,A,2000-01-07,59.06,65.94,59.00,65.00,2016900.0,0.0,1.0,40.293135,44.986951,40.252200,44.345645,2016900.0

In [11]:
df_gt_date.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11343920 entries, 30 to 15389313
Data columns (total 14 columns):
 #   Column       Dtype
---  ------       -----
 0   ticker       object
 1   date         datetime64[ns]
 2   open         float64
 3   high         float64
 4   low          float64
 5   close        float64
 6   volume       float64
 7   ex-dividend  float64
 8   split_ratio  float64
 9   adj_open     float64
 10  adj_high     float64
 11  adj_low      float64
 12  adj_close    float64
 13  adj_volume   float64
dtypes: datetime64[ns](1), float64(12), object(1)
memory usage: 1.3+ GB

In [14]:
cols = [2,3,4,5,6,7,8]
df_cols_drop= df_gt_date.drop(df_gt_date.columns[cols],axis=1)
df_cols_drop.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11343920 entries, 30 to 15389313
Data columns (total 7 columns):
 #   Column      Dtype
---  ------      -----
 0   ticker      object
 1   date        datetime64[ns]
 2   adj_open    float64
 3   adj_high    float64
 4   adj_low     float64
 5   adj_close   float64
 6   adj_volume  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 950.4+ MB

In [15]:
df_renamed = df_cols_drop.rename(columns = {'adj_open' : 'open','adj_low' : 'low','adj_high' : 'high'
                     ,'adj_close':'close','adj_volume' : 'volume'})

df_renamed.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11343920 entries, 30 to 15389313
Data columns (total 7 columns):
 #   Column  Dtype
---  ------  -----
 0   ticker  object
 1   date    datetime64[ns]
 2   open    float64
 3   high    float64
 4   low     float64
 5   close   float64
 6   volume  float64
dtypes: datetime64[ns](1), float64(5), object(1)
memory usage: 950.4+ MB

In [16]:
df_indexed = df_renamed.set_index(['ticker', 'date'])

In [17]:
df_indexed.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 11343920 entries, ('A', Timestamp('2000-01-03 00:00:00')) to ('ZUMZ', Timestamp('2018-03-27 00:00:00'))
Data columns (total 5 columns):
 #   Column  Dtype
---  ------  -----
 0   open    float64
 1   high    float64
 2   low     float64
 3   close   float64
 4   volume  float64
dtypes: float64(5)
memory usage: 476.3+ MB

In [20]:
df_indexed.to_hdf('../data/stock_prices.h5',key='stock_prices')